<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connetionstrings>
    <add name="Learn" connectionString="Data Source=.;Initial Catalog=Learn;User Id=sa;Password=pwd@123456" />
  </connetionstrings>
  <appSettings>
    <add key="Learn" values="Data Source=.;Initial Catalog=Learn;User Id=sa;Password=pwd@123456"/>
  </appSettings>
</configuration>